<form action="/users/create" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Name: <input type="text" name="user[name]"></p>
    <p>Email: <input type="text" name="user[email]"></p>
    <p>Password: <input type="text" name="user[password]"></p>
    <p>Password Confirmation: <input type="text" name="user[password_confirmation]"></p>
    <input type="submit" value="Join" style="margin-left:150px;">
</form>
